html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  line-height: 1;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  overflow-y: hidden;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #ecf2f8;
}

.container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.card {
  background-color: white;
  width: 730px;
  height: 280px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 49.375em) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 327px;
    height: 512px;
  }
}

.card__image {
  min-width: 285px;
  height: 100%;
  background-image: url(drawers.jpg);
  background-size: cover;
}

@media (max-width: 49.375em) {
  .card__image {
    height: 199px;
  }
}

.card__text {
  padding: 42px;
}

@media (max-width: 49.375em) {
  .card__text {
    padding: 30px;
    padding-top: 40px;
  }
}

.card__text h1 {
  font-size: 20px;
  line-height: 1.15;
  color: #48556a;
  margin-bottom: 18px;
  font-weight: 700;
}

@media (max-width: 49.375em) {
  .card__text h1 {
    font-size: 17px;
  }
}

.card__text p {
  font-size: 15px;
  color: #6d7f97;
  line-height: 1.2;
  margin-bottom: 20px;
}

@media (max-width: 49.375em) {
  .card__text p {
    margin-bottom: 34px;
  }
}

.card__text__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__text__author__portrait {
  background-image: url(avatar-michelle.jpg);
  width: 41px;
  height: 41px;
  background-size: cover;
  border-radius: 50%;
  margin-right: 17px;
}

.card__text__author__info {
  margin-right: 140px;
}

@media (max-width: 49.375em) {
  .card__text__author__info {
    margin-right: 45px;
  }
}

.card__text__author__info p {
  margin: 0;
}

.card__text__author__info .name {
  color: #48556a;
  font-weight: 700;
}

.card__text__author__share {
  background-image: url(icon-share.svg);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-color: #ecf2f8;
  background-position: center;
  border-radius: 50%;
}

.card__text__author__share:hover {
  cursor: pointer;
}

@media (max-width: 49.375em) {
  .card__text__author__share {
    display: none;
  }
}

.card__text__author__share__mobile {
  background-image: url(icon-share.svg);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-color: #ecf2f8;
  background-position: center;
  border-radius: 50%;
  display: none;
}

.card__text__author__share__mobile:hover {
  cursor: pointer;
}

@media (max-width: 49.375em) {
  .card__text__author__share__mobile {
    display: block;
  }
}

.card__sharemenu__dt {
  display: none;
  position: absolute;
}

.card__sharemenu__dt__pointer {
  position: relative;
  width: 17px;
  height: 17px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #48556a;
  left: 664px;
  bottom: -179px;
}

.card__sharemenu__dt__box {
  position: relative;
  width: 250px;
  height: 55px;
  background-color: #48556a;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  left: 551px;
  bottom: -115px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}

.card__sharemenu__dt__box p {
  text-transform: uppercase;
}

.card__sharemenu__dt__box__fb {
  height: 20px;
  width: 20px;
  background-image: url(icon-facebook.svg);
  background-size: cover;
}

.card__sharemenu__dt__box__tw {
  height: 20px;
  width: 20px;
  background-image: url(icon-twitter.svg);
  background-size: cover;
}

.card__sharemenu__dt__box__pt {
  height: 20px;
  width: 20px;
  background-image: url(icon-pinterest.svg);
}

.card__sharemenu__dt__box.active {
  display: block;
}

.card__sharemenu__mobile {
  display: none;
  position: absolute;
}

.card__sharemenu__mobile__box {
  position: relative;
  width: 325px;
  height: 80px;
  background-color: #48556a;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -436px;
  padding-left: 30px;
  padding-right: 30px;
}

.card__sharemenu__mobile__box p {
  text-transform: uppercase;
  margin-right: 21px;
}

.card__sharemenu__mobile__box__fb {
  height: 20px;
  width: 20px;
  background-image: url(icon-facebook.svg);
  background-size: cover;
  margin-right: 21px;
}

.card__sharemenu__mobile__box__tw {
  height: 20px;
  width: 20px;
  background-image: url(icon-twitter.svg);
  background-size: cover;
  margin-right: 21px;
}

.card__sharemenu__mobile__box__pt {
  height: 20px;
  width: 20px;
  background-image: url(icon-pinterest.svg);
  background-size: cover;
  margin-right: 55px;
}

.card__sharemenu__mobile__box__share {
  height: 30px;
  width: 30px;
  background-image: url(icon-share-copy.svg);
  background-color: #6d7f97;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.card__sharemenu__mobile__box__share:hover {
  cursor: pointer;
}

.card__sharemenu__mobile__box.active {
  display: block;
}

.active {
  display: block;
}

.active_share_button_dt {
  background-image: url(icon-share-copy.svg);
  background-color: #48556a;
}
/*# sourceMappingURL=style.css.map */